<table border="1">
<thead>
<tr class="header">
    <th></th>
    <th class="sortable" data-field="name">Name</th>
    <th class="sortable" data-field="us_price">US Price</th>
    <th class="sortable" data-field="us_after_tax">US After Tax</th>
    <th class="sortable" data-field="china_price">China Price</th>
    <th class="sortable" data-field="us_final_price">Final Price($)</th>
    <th class="sortable" data-field="china_final_price">Final price(￥)</th>
    <th class="sortable" data-field="desciption">Description</th>
    <th class="sortable" data-field="difference">Price Difference</th>
    <th class="sortable" data-field="created_on">Created On</th>
    <th></th>


</tr>
</thead>
<tbody>
</tbody>

</table>
<div id="showMoreDiv">
<!--<button id="show_more"><span>Show More</button>-->
</div>
<div id="bottom">
</div>
