<td><input type="checkbox" class="select-box"/></td>
<td class="name editable" data-field="name">{{name}}</td>
<td class="us_price editable number" data-field="us_price">${{us_price}}</td>
<td class="china_price editable number" data-field="china_price">￥{{china_price}}</td>
<td class="us_final_price">${{us_final_price}}</td>
<td class="china_final_price">￥{{china_final_price}}</td>
<td class="description editable" data-field="description">{{description}}</td>
<td class="diff" data-field="difference">{{difference}}</td>
<td class="created_on" data-field="created_on">{{created_on}}</td>
<td>
    <button class="edit_entry general_btn"><span>Edit</span></button>
    <button class="update_entry general_btn hide"><span>Update</span></button>
    <button class="del_entry delete_btn"><span>Delete</span></button>
</td>