doctype 5
html
  head
    title Hehe
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport", content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;")

  body
    header.header.top-menu
      ul
        li.menu-li
            a.menu-home Home
        li.menu-li
            a.menu-view View All Entries
        li.menu-li
            a.menu-new New Entry
    block content
    script(data-main="js/main", src="js/vendor/require.min.js")