html{
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 40%, rgba(237,237,237,1) 58%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(40%,rgba(243,243,243,1)), color-stop(58%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 40%,rgba(237,237,237,1) 58%,rgba(255,255,255,1) 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}

button:hover{
    cursor: pointer;
    opacity: 0.8;
}

/*menu*/
header{

}

header ul {
    list-style: none;

}

header ul li{
    display: inline-block;
    padding: 8px 12px;
    background-color: transparent;
    border-radius: 10px;
}

header ul li:hover{
    background-color: #4C8FFC;
    cursor: pointer;
}

header ul li a{
   text-decoration: none;
}
header ul li:hover a{
    color : white;
}
/*new*/
.form{
    width: 172px;
    height: auto;

}

.form label {
    display: inline-block;
    margin : 8px 0px;
}

.btn-group{
    margin-top : 25px;
}

.inline-group {
    display: inline-block;
    /*margin-left: 40px;*/
}


.overrides label {
    margin-left : 30px;
}

.overrides label input {
    width : 2em;
}

/*list table*/
table {
    border-spacing: 1px;
    border-collapse: collapse;
}

table th {
    color : white;
    background-color: #8C40C8;
    padding : 8px 15px;
}
table td {
    text-align: center;
    max-width: 9em;
}

.delete_btn {
    opacity : 0.7;
    background: #f85032; /* Old browsers */
    background: -moz-linear-gradient(top, #f85032 0%, #f85032 49%, #f16f5c 50%, #f6290c 88%, #e73827 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f85032), color-stop(49%,#f85032), color-stop(50%,#f16f5c), color-stop(88%,#f6290c), color-stop(100%,#e73827)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f85032 0%,#f85032 49%,#f16f5c 50%,#f6290c 88%,#e73827 100%); /* Chrome10+,Safari5.1+ */
}

.delete_btn:hover {
    opacity : 1;
}

.delete_btn span{
   color : white;
}

.general_btn {
    opacity: 0.7;
    background: rgb(109,179,242); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(109,179,242,1) 0%, rgba(84,163,238,1) 50%, rgba(54,144,240,1) 51%, rgba(30,105,222,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,179,242,1)), color-stop(50%,rgba(84,163,238,1)), color-stop(51%,rgba(54,144,240,1)), color-stop(100%,rgba(30,105,222,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Chrome10+,Safari5.1+ */
}

.general_btn:hover {
    opacity: 1;
}
.general_btn span {
    color: white;
    text-transform: uppercase;
}
tr.list .general_btn{
    width: 54px;
}
tr.list .general_btn span{
    text-transform: none;
}

.hide{
    display:none;
}

.inline-edit{
    max-width: 7em;
    text-overflow: ellipsis;
}