body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

button:hover{
    cursor: pointer;
    opacity: 0.8;
}
/*new*/
.form{
    width: 172px;
    height: auto;

}

.form label {
    display: inline-block;
    margin : 8px 0px;
}

.btn-group{
    margin-top : 25px;
}

.inline-group {
    display: inline-block;
    margin-left: 40px;
}

.overrides label {
    margin-left : 30px;
}

table td {
    text-align: center;
}