<div class="btn-group inline-group">
    <button id="delete-selected" class="general_btn">
        <span>Delete Selected</span>
    </button>
    <button id="select-all" class="general_btn">
        <span>Select All</span>
    </button>
</div>
<div class="field overrides inline-group">

    <label for="service-fee-input">Service Fee
        <input type="text" data-field="service_fee" placeholder="" id="service-fee-input"/> %
    </label>

    <label for="tax-rate-input">Tax Rate
        <input type="text" data-field="tax_rate" placeholder="" id="tax-rate-input"/> %
    </label>

    <label for="exchange-input">Exchange Rate
        <input type="text" data-field="exchange" placeholder="" id="exchange-input"/> %
    </label>

</div>