<div class="form">
    <label class="input-lbl" for="product-name">
        <input type="text" class="input-fld" name="product-name" id="product-name" placeholder="Name *"/>
    </label>
    <label class="input-lbl" for="us-price">
       <input type="text" class="input-fld" name="us-price" id="us-price" placeholder="Price in US.."/>
    </label>
    <label class="input-lbl" for="china-price">
        <input type="text" class="input-fld" name="china-price" id="china-price" placeholder="Price in China.."/>
    </label>
    <label class="input-lbl" for="description">
        <input type="text" class="input-fld" name="description" id="description" placeholder="Description.."/>
    </label>
</div>
<div class="btn-group">
    <button id="create-entry">
         <span>Create Entry</span>
    </button>
    <button id="reset-entry">
        <span>Reset</span>
    </button>
</div>
